@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins";
}

:where(.wrapper-btn, header, .color-list, .color-item) {
  display: flex;
  align-items: center;
}

.wrapper-picker {
  width: 400px;
  background-color: #161623;
  padding: 16px;
}

.wrapper-btn {
  padding: 20px 0;
  justify-content: center;
}

.picker-btn {
  width: 150px;
  height: 40px;
  background-color: slateblue;
  outline: 0;
  border: 0;
  border-radius: 5px;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.picker-btn:hover {
  background-color: rgb(85, 66, 208);
}

.wrapper-color header {
  justify-content: space-between;
  margin-bottom: 16px;
}

.wrapper-color header .clear-color {
  color: rgb(136, 122, 226);
  cursor: pointer;
  transition: color 0.3s ease;
}

.wrapper-color header .clear-color:hover {
  color: rgb(181, 174, 226);
}

.wrapper-color header .title {
  font-size: 1rem;
  color: #eee;
}

.color-list {
  flex-wrap: wrap;
}

.color-item {
  width: calc(100% / 3);
  margin-bottom: 10px;
  cursor: pointer;
}

.color-item .rect-color {
  width: 20px;
  height: 20px;
  background-color: darkturquoise;
  margin-right: 5px;
  border-radius: 3px;
}

.color-item .color-value {
  color: #eee;
  font-weight: 500;
  text-transform: uppercase;
}
